.backdrop {
  position: fixed;
  opacity: 1;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  @include transition-slow(opacity, visibility);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.overflow {
  overflow: hidden;
}

.header-modal {
  position: absolute;
  margin: 0 auto;
  padding: 28px;
  width: 280px;
  background: $light-color;
  border: 2px solid $accent-color;
  border-radius: 10px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    top: 50px;

    width: 568px;
    padding: 32px 54px;
  }

  &__title {
    margin-bottom: 84px;
    font-size: 16px;
    line-height: calc(28 / 20);

    @media screen and (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 103px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 84px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 30px;
    }
  }

  &__item {
    width: 132px;

    text-align: center;
    filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
    @include transition(background-color);
    &--green {
      border: 2px solid #96af8c;
      &:hover {
        background-color: #96af8c;
      }
    }

    &--yellow {
      border: 2px solid #efd478;
      &:hover {
        background-color: #efd478;
      }
    }
    &--brown {
      border: 2px solid #d6936d;
      &:hover {
        background-color: #d6936d;
      }
    }
  }

  &__text {
    display: block;
    border-radius: 16px;
    padding-top: 95px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $page-color;
  }

  .checkbox__input {
    appearance: none;
    position: absolute;
  }
}

.checkbox__input--green:checked + .header-modal__text--green {
  background-color: #96af8c;
}
.checkbox__input--yellow:checked + .header-modal__text--yellow {
  background-color: #efd478;
}
.checkbox__input--brown:checked + .header-modal__text--brown {
  background-color: #d6936d;
}

.header-modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;

  &:hover .header-modal__close-icon,
  &:focus .header-modal__close-icon {
    fill: $accent-color;
  }
  &__close-icon {
    @include transition(fill);
  }
}
.header-modal__item--green {
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 160px;
    height: 160px;
    display: block;
    background-image: url(../images/products/img-1_sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: -14px;
  }
}
.header-modal__item--yellow {
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 160px;
    height: 160px;
    display: block;
    background-image: url(../images/products/img-2_sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: -14px;
  }
}
.header-modal__item--brown {
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 160px;
    height: 160px;
    display: block;
    background-image: url(../images/products/img-3_sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: -14px;
  }
}
