@mixin transition($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin transition-slow($property...) {
  transition-property: $property;
  transition-duration: 1000ms;
  transition-timing-function: linear;
}
