<section class="advantages">
    <ul>
        <li>
            <p>721</p>
            <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li>
            <p>
                16kg
            </p>
            <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li>
            <p>
                84
            </p>
            <p>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>

</section>