<section class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__title">Chicago</span>
          <a class="contacts__location" href=""
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:mango@mail.pig"
              >mango@mail.pig</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">FOOD TRUCK</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a class="contacts__location" href=""
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:mango@mail.pig"
              >mango@mail.pig</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a class="contacts__location" href=""
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:mango@mail.pig"
              >mango@mail.pig</a
            >
          </address>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <button class="btn contacts__btn--orange">
        Our Locations
        <svg width="12" height="12">
          <use href="./icons/icons.svg#arrowhead"></use>
        </svg>
      </button>
      <button class="contour-btn contacts__btn--transparent">
        Franchise
        <svg width="12" height="12">
          <use href="./icons/icons.svg#arrowhead"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
