<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <span class="contacts__label">CAFE</span>
        <address class="contacts__address">
          <span class="contacts__title">Chicago</span>
          <a
            target="_blank"
            class="contacts__location"
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Сполучені+Штати+Америки/@41.7034016,-87.7797405,17z/data=!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">FOOD TRUCK</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a
            target="_blank"
            class="contacts__location"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+Сполучені+Штати+Америки/@33.8835263,-118.4103286,17z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">CAFE</p>
        <address class="contacts__address">
          <span class="contacts__title">Los Angeles</span>
          <a
            target="_blank"
            class="contacts__location"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+Сполучені+Штати+Америки/@40.6726938,-73.954734,17z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <div class="contacts__schedule">
          <p class="contacts__title contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <p class="contacts__title contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address class="contacts__title">
            <a class="contacts__tel" href="tel:+610383766284"
              >+61(0) 383 766 284
            </a>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </li>
    </ul>
    <div class="contacts__btn-wrap">
      <button
        class="btn contacts__btn contacts__btn--orange"
        data-modal-open="5"
      >
        Our Locations
        <svg class="contacts__icon" width="12" height="12">
          <use href="./icons/icons.svg#about__icon"></use>
        </svg>
      </button>
      <button
        class="contour-btn contacts__btn contacts__btn--transparent"
        data-modal-open="6"
      >
        Franchise
        <svg class="contacts__icon" width="12" height="12">
          <use href="./icons/icons.svg#about__icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<div class="location backdrop is-hidden" data-modal="5">
  <div class="location__block">
    <button class="location__modal-btn" type="button" data-modal-close="5">
      <svg class="location__close-modal" width="20" height="20">
        <use href="./icons/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="location__text title">Our Locations</h2>
    <iframe
      class="location__picture"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.371221614389!2d18.570346799999996!3d54.403420399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd752e64ecb627%3A0x85a6e97b20566095!2zQWxlamEgR3J1bndhbGR6a2EgNDcyYywgODAtMzA5IEdkYcWEc2ssINCf0L7Qu9GM0YnQsA!5e0!3m2!1suk!2sua!4v1665571697147!5m2!1suk!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="location__wrap">
      <a
        target="_blank"
        class="btn location__btn"
        href="https://goo.gl/maps/GcAWXVkWYvkYx3WE9"
        >Open map</a
      >
    </div>
  </div>
</div>

<div class="backdrop is-hidden" data-modal="6">
  <div class="franchise">
    <button class="franchise__modal-btn" type="button" data-modal-close="6">
      <svg class="franchise__close-modal" width="20" height="20">
        <use href="./icons/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="franchise__text title">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="franchise__offer">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <include src="./partials/form.html"></include>
  </div>
</div>
