<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__title visually-hidden">Customer reviews</h2>
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item active">
        <div class="customer-reviews__img-wrap">
          <img
            class="customer-reviews__img"
            srcset="
              /src/images/сustomer-reviews/review1.png    1x,
              /src/images/сustomer-reviews/review1@2x.png 2x
            "
            src="/src/images/сustomer-reviews/review1.png"
            loading="lazy"
            alt="photo reviev1"
          />
        </div>
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>

        <p class="customer-reviews__descr">Emily, Los Angeles</p>
      </li>

      <li class="customer-reviews__item">
        <div class="customer-reviews__img-wrap">
          <img
            class="customer-reviews__img"
            srcset="
              /src/images/сustomer-reviews/review2.png    1x,
              /src/images/сustomer-reviews/review2@2x.png 2x
            "
            src="/src/images/сustomer-reviews/review2.png"
            loading="lazy"
            alt="photo reviev2"
          />
        </div>
        <p class="customer-reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="customer-reviews__descr">Bryan, New-York</p>
      </li>

      <li class="customer-reviews__item">
        <div class="customer-reviews__img-wrap">
          <img
            class="customer-reviews__img"
            srcset="
              /src/images/сustomer-reviews/review3.png    1x,
              /src/images/сustomer-reviews/review3@2x.png 2x
            "
            src="/src/images/сustomer-reviews/review3.png"
            loading="lazy"
            alt="photo
          reviev3"
          />
        </div>
        <p class="customer-reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="customer-reviews__descr">Diana, Chicago</p>
      </li>

      <li class="customer-reviews__item">
        <div class="customer-reviews__img-wrap">
          <img
            class="customer-reviews__img"
            srcset="
              /src/images/сustomer-reviews/review4.png    1x,
              /src/images/сustomer-reviews/review4@2x.png 2x
            "
            src="/src/images/сustomer-reviews/review4.png"
            loading="lazy"
            alt="photo
          reviev4"
          />
        </div>
        <p class="customer-reviews__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="customer-reviews__descr">Sam, Los Angeles</p>
      </li>
    </ul>
    <ul class="customer-reviews__navs">
      <li data-slide="0" class="customer-reviews__nav active"></li>
      <li data-slide="1" class="customer-reviews__nav"></li>
      <li data-slide="2" class="customer-reviews__nav"></li>
      <li data-slide="3" class="customer-reviews__nav"></li>
    </ul>
  </div>
</section>
