<footer class="footer">
  <div class="footer-wrap">
    <div class="container">
      <div class="footer-group">
        <div class="footer-section__title">
          <p class="footer-section__title--small">
            homemade ice&nbsp;cream made
          </p>
          <p class="footer-section__title--big">with passion</p>
        </div>
        <div class="social-contacts">
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="https://github.com" target="_blank">
                <svg class="social__icon">
                  <use href="./icons/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https://telegram.org"
                target="_blank"
              >
                <svg class="social__icon">
                  <use href="./icons/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a
                class="social__link"
                href="https://facebook.com"
                target="_blank"
              >
                <svg class="social__icon">
                  <use href="./icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="tel:+61(0)383766284" class="social-contacts__phone">
            <span class="social-contacts__phone--text"
              >Feel free to contact</span
            >
            +61 (0) 383 766 284
          </a>
        </div>
      </div>
      <p class="split-line"></p>
      <p class="copyright">
        &#169; 2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.
      </p>
    </div>
  </div>
</footer>
