<!-- <form class="modal-form" name="form">
  <h2 class="modal-form__title">Залиште свої дані, ми вам передзвонимо</h2>
  <div class="modal-form__wrap">
    <label class="modal-form__label" for="name">Ім'я</label>
    <input class="modal-form__input" type="text" name="name" id="name" />
  </div>
  <div class="modal-form__wrap">
    <label class="modal-form__label" for="tel">Телефон</label>
    <input class="modal-form__input" type="tel" name="tel" id="tel" />
  </div>
  <div class="modal-form__wrap">
    <label class="modal-form__label" for="mail">Пошта</label>
    <input class="modal-form__input" type="email" name="mail" id="mail" />
  </div>
  <div class="modal-form__wrap modal-textarea">
    <label class="modal-form__label" for="comment">Коментар</label>
    <textarea
      class="modal-form__input modal-textarea__input"
      type="text"
      name="comment"
      id="comment"
      placeholder="Введіть текст"
    ></textarea>
  </div>
  <button type="submit" class="modal-form__btn btn">Відправити</button>
</form> -->
