<form class="modal-form" name="form">
  <label class="modal-form__label">
    <input
      class="modal-form__input"
      type="text"
      name="name"
      placeholder="Name"
    />
  </label>

  <label class="modal-form__label">
    <input
      class="modal-form__input"
      type="tel"
      name="tel"
      placeholder="Phone"
    />
  </label>

  <label class="modal-form__label modal-form__label--mail">
    <input
      class="modal-form__input"
      type="email"
      name="mail"
      placeholder="Email"
    />
  </label>

  <label class="modal-form__label modal-textarea">
    <textarea
      class="modal-form__input modal-textarea__input"
      name="comment"
      placeholder="Comment"
    ></textarea>
  </label>

  <button type="submit" class="modal-form__btn btn">Submit</button>
</form>
