<section class="gallery">
  <div class="container">
    <h2 class="gallery__title visually-hidden">Ice cream gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item active">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream1.jpg     1x,
            ./images/gallery/ice-cream@2x-1.jpg 2x
          "
          src="./images/gallery/ice-cream1.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream2.jpg     1x,
            ./images/gallery/ice-cream@2x-2.jpg 2x
          "
          src="./images/gallery/ice-cream2.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream3.jpg     1x,
            ./images/gallery/ice-cream@2x-3.jpg 2x
          "
          src="./images/gallery/ice-cream3.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream4.jpg     1x,
            ./images/gallery/ice-cream@2x-4.jpg 2x
          "
          src="./images/gallery/ice-cream4.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream5.jpg     1x,
            ./images/gallery/ice-cream@2x-5.jpg 2x
          "
          src="./images/gallery/ice-cream5.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream6.jpg     1x,
            ./images/gallery/ice-cream@2x-6.jpg 2x
          "
          src="./images/gallery/ice-cream6.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream7.jpg     1x,
            ./images/gallery/ice-cream@2x-7.jpg 2x
          "
          src="./images/gallery/ice-cream7.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream8.jpg     1x,
            ./images/gallery/ice-cream@2x-8.jpg 2x
          "
          src="./images/gallery/ice-cream8.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream9.jpg     1x,
            ./images/gallery/ice-cream@2x-9.jpg 2x
          "
          src="./images/gallery/ice-cream9.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream10.jpg     1x,
            ./images/gallery/ice-cream@2x-10.jpg 2x
          "
          src="./images/gallery/ice-cream10.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/ice-cream11.jpg     1x,
            ./images/gallery/ice-cream@2x-11.jpg 2x
          "
          src="./images/gallery/ice-cream11.jpg"
          loading="lazy"
          alt="photo ice-cream"
        />
      </li>
    </ul>
  </div>
</section>
