<div class="backdrop is-hidden" data-modal>
  <div class="modal header-modal">
    <button type="button" data-modal-close class="header-modal__close-btn">
      <svg class="header-modal__close-icon" width="11px" height="11px">
        <use href="icons/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="header-modal__list">
      <li class="header-modal__item">
        <p class="header-modal__text">ice cream</p>
      </li>
      <li class="header-modal__item">
        <p class="header-modal__text">ice coffee</p>
      </li>
      <li class="header-modal__item">
        <p class="header-modal__text">milkshake</p>
      </li>
    </ul>
    <include src="./partials/form.html"></include>
  </div>
</div>
