<div class="backdrop is-hidden" data-modal="0">
  <div class="modal header-modal">
    <button type="button" data-modal-close="0" class="header-modal__close-btn">
      <svg class="header-modal__close-icon" width="11" height="11">
        <use href="icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="header-modal__title title">Buy now</h2>
    <ul class="header-modal__list">
      <li class="header-modal__item header-modal__item--green">
        <p class="header-modal__text">ice cream</p>
      </li>
      <li class="header-modal__item header-modal__item--yellow">
        <p class="header-modal__text">ice coffee</p>
      </li>
      <li class="header-modal__item header-modal__item--brown">
        <p class="header-modal__text">milkshake</p>
      </li>
    </ul>
    <include src="./partials/form.html"></include>
  </div>
</div>
