<section class="section hero">
  <div class="container">
    <div class="hero__left-side">
      <h1 class="hero__title">ice cream made with passion</h1>
      <div>
        <button class="contour-btn">
          <a href="#products">Products</a>
        </button>
        <button class="invisible-btn">
          <a href="#about">How it’s made?</a>
        </button>
        <img
          src="./images/hero/many-ice-creams.png"
          alt="Many ice Creams on the plate"
        />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="menu-btn" data-menu-button>
          <svg width="32" height="32">
            <use href="./icons/icons.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="hero__right-side">
      <img src="./images/hero/ice-cream.png" alt="" />
      <p><span>16</span> cafes</p>
      <p><span>23</span> food trucks</p>
    </div>
  </div>
</section>
