.about {
    background-color: #84a178;
    align-items: center;
    text-align: center;
}

.about__subtitle {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC
}

.about__title {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FCFCFC;
    @media screen and (min-width: 480px) {
        width: auto;
    }
}

.about__wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__wrap {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 280px;
}

.about__image {
    width: 360px;
    height: 330px;
}

.about__text {
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.textwrap-item:last-child {
    margin-bottom: 20px;
}

.about__button {
    margin-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 12px 24px;
    width: 164px;
    height: 42px;
    font-weight: 600;
    line-height: 1.28;
    background-color: #F8D24E;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    &:hover {
        background-color: #0A8817;
    }
    &:focus {
        background-color: #0A8817;
        color: $light-color;
    }
}

.about__icon {
    margin-left: 5px;
}