.about {
    background-color: #84a178;
    align-items: center;
    text-align: center;
}

.about__subtitle {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC
}

.about__title {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FCFCFC;
    @media screen and (min-width: 480px) {
        width: auto;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 72px;
    }
}

.about__wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about__wrap {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 280px;
    @media screen and (min-width: 768px) {
        min-width: 335px;
        gap: 30px;
        margin-bottom: 0;
    }
}

.about__image {
    width: 360px;
    height: 330px;
    @media screen and (min-width: 768px) {
        min-width: 336px;
        min-height: 350px;
    }
}

.about__text {
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.about__textwrap {
    @media screen and (min-width: 768px) {
        max-width: 336px;
        width: 100%;
        padding-top: 7px;
        text-align: start;
    }
}

.textwrap-item:not(:last-child) {
    margin-bottom: 8px;
}

.textwrap-item:last-child {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.about__button {
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 600;
    line-height: 1.28;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
}

.about__icon {
    margin-left: 5px;
}