.about {
    background-color: #84a178;
    align-items: center;
    text-align: center;
}

.about__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC
}

.about__title {
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FCFCFC;
}

.about__wrap {
    margin: 0 auto;
    max-width: 280px;
}

.about__image {
    width: 333px;
    height: 330px;
}

.about__text {
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
}

.about__text:last-child {
    margin-bottom: 20px;
}

.about__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 12px 24px;
    width: 164px;
    height: 42px;
    font-weight: 600;
    line-height: 1.28;
    background-color: #F8D24E;
}

.about__button::after {
    content: '';
    display: block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background-image: url(../images/about/button.png);
}