.advantages {}

.advantages__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FCFCFC;
}

.advantages__item {
    justify-content: center;
    align-items: center;
}

.cow::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/cow.png);
    align-items: center;
}

.weight::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/weight.png);
}

.ice::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/ice.png);
}

.advantages__uppertext {}

.advantages__text {}