.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 12px 34px;
  background: $accent-color;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: $page-color;
  @include transition(background, color);

  &:hover {
    background: $active-color;
  }
  &:focus {
    background: $active-color;
    color: $light-color;
  }
  &:disabled {
    background: $disablet-color;
  }
}

.contour-btn {
  font-family: 'Montserrat', sans-serif;
  padding: 12px 34px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $page-color;
  cursor: pointer;
  border: 2px solid $accent-color;
  @include transition(border, color);

  &:hover {
    border: 2px solid $active-color;
  }
  &:focus {
    border: 2px solid $active-color;
    color: $light-color;
  }
  &:disabled {
    border: 2px solid $disablet-color;
  }
}

.invisible-btn {
  font-family: 'Montserrat', sans-serif;
  padding: 12px 21px 12px 22px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: $page-color;
  @include transition(color);

  &:hover {
    color: $active-color;
  }
  &:focus {
    color: $light-color;
  }
  &:disabled {
    color: $disablet-color;
  }
}
