.customer-reviews {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 40px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 55px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 123px;
  }

  &__list {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 968px;
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
  &__item {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    @include transition(opacity);

    &.active {
      position: static;
      opacity: 1;
    }
  }

  &__img-wrap {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 85px;
    height: 85px;
  }
  &__text {
    display: flex;
    align-items: center;
    padding: 34px 39px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    min-height: 256px;
    background: $main-bg-color;
    border-radius: 10px;
    font-size: 12px;
    line-height: calc(31 / 12);
    text-align: center;
    color: $light-color;

    @media screen and (min-width: 768px) {
      padding: 29px 80px;
      min-height: 138px;
      font-size: 14px;
      line-height: calc(26 / 14);
    }

    @media screen and (min-width: 1200px) {
      padding: 39px 109px 47px 109px;
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
  &__descr {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
    text-align: center;
    color: $page-color;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__navs {
    display: flex;
    height: 24px;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #d9d9d9;
    @include transition(transform);

    &.active {
      background: $main-bg-color;
      transform: scale(1.5);
    }
  }
}
