.footer {
  padding-top: 39px;
  padding-bottom: 62px;

  @media screen and(min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 13px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 11px;
  }
}

.footer-wrap {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    left: 0;
    bottom: 120px;

    @media screen and(min-width: 768px) {
      bottom: 53px;
    }

    @media screen and(min-width: 1200px) {
      bottom: 45px;
    }
  }
}

.footer-group {
  margin-bottom: 40px;

  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 66px;
  }
}

.footer-section__title {
  max-width: 238px;

  @media screen and (min-width: 768px) {
    max-width: 352px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 504px;
  }
}

.footer-section__title--small {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(37 / 30);
  text-transform: uppercase;
  color: $light-color;
  margin-bottom: 16px;

  @media screen and(min-width: 768px) {
    font-size: 26px;
    margin-bottom: 9px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 14px;
  }
}

.footer-section__title--big {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(71 / 58);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;
  margin-bottom: 42px;

  @media screen and(min-width: 768px) {
    font-size: 48px;
    margin-bottom: 0px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 58px;
  }
}

.social-contacts {
  @media screen and(min-width: 768px) {
    margin-top: 68px;
  }

  @media screen and(min-width: 1200px) {
    margin-top: 0;
  }
}

.social {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 38px;

  @media screen and(min-width: 768px) {
    gap: 30px;
    margin-bottom: 32px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.social__icon {
  fill: $main-bg-color;
  width: 32px;
  height: 32px;

  @media screen and(min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.social__link {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
}

.social__link {
  &:focus .social__icon {
    fill: $light-color;
    width: 38px;
    height: 38px;
  }

  &:hover .social__icon {
    fill: $light-color;
    width: 32px;
    height: 32px;
  }
}

.social-contacts__phone {
  display: block;
  text-align: right;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.86;
  color: $light-color;

  @media screen and(min-width: 768px) {
    font-size: 14px;
    text-align: right;
  }

  @media screen and(min-width: 1200px) {
    font-size: 16px;
  }
}

.social-contacts__phone--text {
  color: $page-color;
}

.copyright {
  display: block;
  margin: 0 auto;
  max-width: 280px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;

  color: #7a7a7a;

  @media screen and(min-width: 768px) {
    line-height: 1.86;
    max-width: none;
  }

  @media screen and(min-width: 1200px) {
    font-size: 12px;
  }
}
