.footer {
  background-color: $main-bg-color;
}

.footer__title--small {
  font-size: 30px;
  font-weight: 700;
  line-height: calc(37 / 30);
  text-transform: uppercase;
  color: $light-color;
}

.footer__title--big {
  font-weight: 700;
  font-size: 58px;
  line-height: calc(71 / 58);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $light-color;
}
