.header {
  padding-top: 12px;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 28px;
  }
}

.header__nav {
  display: flex;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.header__nav_list {
  display: none;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}

.header__list-link {
  display: flex;
  align-items: center;
  color: $light-color;
  padding: 15px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);

  &:hover,
  &:focus {
    color: $accent-color;
    border: transparent;
  }
}

.header__logo-link {
  width: 40px;
  height: 37px;
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.header__btn-open {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $page-color;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__buy-now {
  display: none;
  z-index: 10;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 5;
    margin: auto 0 auto 32px;
  }
}

// ----------------------------------
// SLIDING MENU
// ----------------------------------

.header__sliding-menu {
  position: fixed;
  padding-top: 100px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;

  z-index: 15;
  transform: translateX(101%);
  @include transition(transform);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
    justify-content: flex-start;
  }
}

.header__logo-link--menu {
  width: 40px;
  height: 37px;
  position: absolute;
  top: 12px;
  left: 31px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
}

.header__burger-close {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $page-color;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__nav_list--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @media screen and (min-width: 768px) {
    gap: 48px;
  }
}

.header__list-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);

  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.header__slider-link {
  color: $light-color;
  @include transition(color);

  &:hover,
  &:focus {
    color: $page-color;
  }
}

.header__sliding-menu-bottom {
  display: flex;
  justify-content: center;
}

.header__sliding-menu-bottom {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
