.header {
  //   background-color: $main-bg-color;
  outline: 1px solid tomato;
}

.header .container {
  background-color: $main-bg-color;
}

.header__nav {
  display: flex;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.header__logo-link {
  margin-top: 12px;
  margin-bottom: 15px;
}

.header__nav_list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 27px;
  }
}

.header__list-link {
  display: flex;
  align-items: center;
  color: $light-color;
  padding: 15px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);

  &:hover,
  &:focus {
    color: $accent-color;
    border: transparent;
  }
}

.header__btn-open {
  margin: auto 0 auto auto;
  padding: 10px 6px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $page-color;
  background: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    display: none;
    // margin: auto 0 auto 32px;
  }
}

.header__buy-now {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    z-index: 5;
    margin: auto 0 auto 32px;
  }
}

.header__sliding-menu {
  display: none;
}
