.title {
  font-family: 'Seymour One', sans-serif;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $page-color;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: $light-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
  }
}
